.idea/
node_modules/
.serverless/
.webpack/
/product-service/test.json
/product-service/test-post.json
/product-service/.env
/product-service/coverage

/import-service/test.json
/import-service/test-post.json
