option_settings:
#  - option_name: PORT
#    value: 3001
  - option_name: NODE_ENV
    value: production
  - option_name: products
    value: 'https://i5f9ybk28g.execute-api.eu-west-1.amazonaws.com/dev'
  - option_name: profile
    value: 'http://net-zen-cart-api-dev.eu-west-1.elasticbeanstalk.com/api'
